
body {
    font-family: 'Outfit', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    color: #4e342e; 
    -webkit-scrollbar:none;
}
body::-webkit-scrollbar {
    display: none;
}
a{
    text-decoration: none;
}

.container {
    width: 80%;
    max-width: 1000px;
    background: #ffffff;  
    padding: 20px;
    padding-bottom: 25px;
    border-radius: 8px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);  
}

 
h1 {
    text-align: center;
    color: #4e342e;  
    margin-bottom: 20px;
    font-size: 2rem;
}

 
.genres h3 {
    margin-bottom: 10px;
    color: #6d4c41;  
    font-weight: 500;
    font-size: 22px;
}

.genre-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}
 
.genre {
    color: white;  
    background-color: #7e5c4e;  
    font-weight: 500;
    border: 2px solid transparent;  
    padding: 10px 18px;  
    border-radius: 30px;  
    font-size: 16px;  
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;  
    display: inline-block;
}

 
.genre:hover {
    background-color: #5f4339;  
    border-color: #5f4339;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  
    transform: translateY(-2px);  
}
.genre.active {
  background-color: #4e342e;
  }
  

 
.book-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    border-radius: 3px 3px 0 0;  
    overflow: hidden;  
}

.book-table th,
.book-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #cfd8dc;  
}

.book-table th {
    background: #6d4c41;  
    color: #ffffff;
    font-weight: bold;
}

.book-table tr:hover {
    background: #f1f1f1;  
}

 
.actions {
    display: flex;
    gap: 10px;
}

button {
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    font-family: "Outfit", sans-serif;
    white-space: nowrap;
    transition: background 0.3s ease, transform 0.2s ease, opacity 0.2s;
}

 
button:hover {
    opacity: 0.9;
    transform: translateY(-2px);  
}

 
.add-btn {
    background: #7e5c4e;  
    color: #ffffff;
    width: 100%;
    display: block;
    font-size: 15px;
    padding: 12.5px 20px;
    font-weight: 500;
    margin-top: 20px;
}
.add-btn:hover{
    background-color: #5f4339;  
}
 
.delete {
    background: #e74c3c;  
    color: #ffffff;
}

 
.edit {
    background: #27ae60;  
    color: #ffffff;
}
 
 
.pagination {
    display: flex;
    justify-content: center;
    gap: 12px;  
    margin-top: 20px;
}

 
.page-link {
    background: white;  
    border: 2px solid #7e5c4e;  
    color: #7e5c4e;
    font-weight: 500;
    width: 30px;  
    height: 30px;  
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;  
    font-size: 16px;
    transition: background 0.3s ease;
    text-align: center;
}

 
.page-link:hover {
    background: #5f4339;  
    color: white;
}

 
.page-link.current {
    background: #7e5c4e;  
    color: white;
    cursor: default;  
}


.page-link:disabled {
    background: #ccc;
    pointer-events: none;
}


@media (max-width: 960px) {
    .container {
        width: 95%;
        padding: 15px;
    }
    h1 {
        font-size: 2rem;
    }
    
    .genre {
        font-size: 14px;
        padding: 8px 14px;
    }
    .book-table th, .book-table td {
        padding: 10px;
    }
    button {
        font-size: 12px;
        padding: 8px 12px;
    }
    .table-container{
        overflow-x: scroll;
    }

}

 
@media (max-width: 480px) {
    body {
        padding: 5px;
    }
    .container {
        width: 100%;
        padding: 10px;
    }
    h1 {
        font-size: 1.8rem;
    }
   
    .row {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
    .row span {
        width: auto;
        margin-bottom: 5px;
    }
    .row input[type="text"],
    .row input[type="date"],
    .row input[type="number"] {
        width: 100%;
        max-width: 100%;
    }
    .radio-group {
        width: 100%;
        flex-direction: column;
        gap: 5px;
    }
    #addBookBtn {
        width: 100%;
    }
    .pagination {
        flex-wrap: wrap;
        gap: 8px;
    }
    .page-link {
        width: 25px;
        height: 25px;
        font-size: 14px;
    }

}

.form-container{
    width: 42.5%;
    max-width: 1000px;
    background: #ffffff;  
    padding: 25px 10px;
    padding-bottom: 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);  
}


@media screen and (max-width:1500px){
    .form-container{
        width: 52.5%;
    }
}
    
@media screen and (max-width:1300px){
    .form-container{
        width: 62.5%;
    }
}

@media screen and (max-width:1100px){
    .form-container{
        width: 72.5%;
    }
}

@media screen and (max-width:850px){
    .form-container{
        width: 100%;
    }
    body,html{
        height: 100% !important;
        box-sizing: border-box;
    }

    .row {
        width: 90% !important;
    }

    #addBookBtn{
        width: 90% !important;
    }
}

@media screen and (max-width:700px){
    .radio-group {
        flex-direction: column;
    }
}

@media screen and (max-width:500px){
    .radio-group {
        flex-direction: row !important;
        flex-wrap: wrap;
    }
    .row {
        width: 90%;
        justify-content: flex-start !important;
        align-items: flex-start !important;
        margin-bottom: 13px;
        font-family: "Outfit",sans-serif;
        flex-direction: column;
        gap: 10px;
    }

    .row input[type="text"],.row input[type="date"],.row input[type="number"]{
        width: 100% !important;
        max-width: none !important;
    }

}



.add_book_form_main_container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}


.row {
    width: 80%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 13px;
    font-family: "Outfit",sans-serif;

}

.row span {
    font-size: 18px;
    font-weight: 600;
}

.radio-group {
    display: flex;
    gap: 15px;
     
}

.radio-group label {
    display: flex;
    align-items: center;
    gap: 5px;
     
    font-size: 16px;
}

.row input[type="text"],.row input[type="date"],.row input[type="number"] {
    font-size: 16px;
    font-weight: 500;
    height: 30px;
    padding: 4px;
    width: 100%;  
    max-width: 207px;
    box-sizing: border-box;
    font-family: "Outfit",sans-serif;
    outline: none;
    border-radius: 7px;
    border: 1.5px solid black;
}
.row input[type="date"] {
    width: 100%;  
    max-width: 207px;
    font-family: "Outdit",sans-serif;
}


.row input:focus {
    border: 2px solid #6d4c41;
}

#addBookBtn{
    background: #7e5c4e;
    width: 80%;
    display: flex;
    border-radius: 8px;
    justify-content: center;
    margin-top: 15px;
    font-family: "Outfit",sans-serif;

     
    color: #ffffff;
    display: block;
    font-size: 18px;
    padding: 12.5px 20px;
    font-weight: 500;
    margin-top: 20px;
}
input[type="date"]{
    font-family: "Outfit",sans-serif;
}