*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role="list"],ol[role="list"]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}


body {
    font-family: 'Outfit', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(../images/modern-empty-room.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Slightly darker shadow for contrast */
    border-radius: 10px;
    width: 100%;
    max-width: 450px;
    padding: 20px;
    padding-bottom: 20px;
    height: 425px;
    box-sizing: border-box;

    backdrop-filter: blur(10px); /* Apply the blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Subtle border for definition */
}

/* Header */
.loginHeader {
    text-align: center;
    margin-bottom: 30px;

}

.loginHeader h1 {
    font-size: 40px;
    color:#1a1a1a;
    font-weight:600;
}

.loginHeader p {
    font-size: 18px;
    color: #333;
}

/* Form Body */
.loginBody {
    display: flex;
    flex-direction: column;
}

/* Input Containers */
.loginInputsContainer {
    margin-bottom: 20px;
}

.loginInputsContainer label {
    font-size: 16px;
    font-weight:400 ;
    color: #333;
    margin-bottom: 8px;
    display: block;
}

.loginInputsContainer input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #d1d0d0;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Outfit',sans-serif;
    font-size: 15px;
    transition: all 0.3s ease;


}

.loginInputsContainer input:focus {
    border-color: #007BFF;
    outline: none;
}

/* Button Container */
.loginButtonContainer {
    text-align: center;
}

div.loginButtonContainer button{
    cursor: pointer;
    margin-top: 35px;
    font-size: 16px;
    padding: 22px 20px;
    height: 40px;
    width:100%;
    background: #118cff;
    font-family: 'Outfit',sans-serif;
    border-radius: 25px;
    border: 1.5px solid #0056b3;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.4s ease;
}

.loginButtonContainer button:hover {
    background-color: #024082;
    transform: scale(1.01);
}
 
 *{font-family: 'Outfit', sans-serif}
    ::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}